@import "@/styles/colors";

.sidebar {
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      a {
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        display: block;
        transition: all 0.15s ease;

        &.selected,
        &:hover {
          background-color: $color-primary-light;
        }
      }
    }
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    transform: translateX(-100%);
    width: 200px;
    padding-top: 80px;
    z-index: 100;

    &.open {
      transform: translateX(0);
    }
  }

  .logout-action {
    font-weight: 700;
    color: $color-danger;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    transition: all 0.15s ease;
    display: flex;
    gap: 10px;
    align-items: center;

    &:hover {
      background-color: $color-danger-light;
    }
  }
}
