@import "@/styles/colors";

.add-form {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
      }
    }

    .products {
      margin-bottom: 15px;

      h3 {
        margin-bottom: 10px;
      }

      .products-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        .product {
          border: 1px solid #ededed;
          padding: 20px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          input {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .submit {
    display: flex;
    justify-content: end;
  }
}
