@import "@/styles/colors";

.add-order {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .users {
      max-height: 60vh;
      overflow-y: scroll;

      .user-card {
        cursor: pointer;
      }

      .user-card.selected {
        background-color: $color-primary-light;
      }
    }

    .products,
    .users {
      margin-bottom: 15px;

      h3 {
        margin-bottom: 10px;
      }

      .products-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        .product {
          border: 1px solid $color-border;
          padding: 20px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          transition: all 0.15s ease;

          &.selected {
            border: 1px solid $color-primary;
            background-color: $color-primary-light;
          }

          .name {
            margin-bottom: 10px;
            font-weight: 700;
          }

          .description,
          .total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
          }

          .description .info {
            font-size: 12px;
            opacity: 0.5;
          }

          .product-info {
            display: flex;
            gap: 20px;

            @media (max-width: 568px) {
              flex-direction: column;
              gap: 10px;
            }

            p {
              flex: 1;
            }
          }
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .total-price {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    border: 1px solid $color-border;
    padding: 20px;
    border-radius: 5px;
  }

  .submit {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
}
